body
{
    background-color: aqua;
}
nav  
{
    margin: 0%;
    text-align: right;
    background-color: white;
}

fieldset {
    margin: auto;
    width: 20%;
    padding: 1px 5px;
    border: 1px black; 
    background-color: white;  
    border-radius: 5px; 
    text-align: center;
    box-shadow: 4px 12px darkgray;
}
ul {
    padding: 20px;
    margin-top: 0;
    margin-bottom: 10%;
}
input {
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
    width: 40%;
    height: 40%;
}